<article>
  
  <h2 title="Contactez Guillaume LANG">Contactez-moi</h2>
  
  <form action="{{ path('post.contact') }}" method="post" class="contact__form">
    
    {% include 'partials/errors.twig' %}
    {% include 'partials/success.twig' %}
    
    <div class="contact__form--field">
      <label for="contactName" class="form__field--label">
        Votre nom
      </label>
      <input
        type="text"
        id="contactName"
        name="contactName"
        class="form__field--input"
        value="{{ session('contactValues').contactName }}">
    </div>
    
    {% include 'partials/formMessage.twig' with {'field': flash('messages').contactName} %}
    
    <div class="contact__form--field">
      <label for="contactEmail" class="form__field--label">
        Votre email
      </label>
      <input
        type="email"
        id="contactEmail"
        name="contactEmail"
        class="form__field--input"
        value="{{ session('contactValues').contactEmail }}">
    </div>
    
    {% include 'partials/formMessage.twig' with {'field': flash('messages').contactEmail} %}
    
    <div class="contact__form--field">
      <label for="contactSubject" class="form__field--label">
        Sujet
      </label>
      <input
        type="text"
        id="contactSubject"
        name="contactSubject"
        class="form__field--input"
        value="{{ session('contactValues').contactSubject }}">
    </div>
    
    {% include 'partials/formMessage.twig' with {'field': flash('messages').contactSubject} %}
    
    <div class="contact__form--field">
      <label for="contactMessage" class="form__field--label">
        Votre message
      </label>
      <textarea name="contactMessage" id="contactMessage" class="form__field--textarea">
        {{- session('contactValues').contactMessage -}}
      </textarea>
    </div>
      
    {% include 'partials/formMessage.twig' with {'field': flash('messages').contactMessage} %}
    
    <div class="contact__form--button">
      <button type="submit" value="send" title="Envoyez un message à Guillaume LANG">
        Envoyer
      </button>
    </div>
    
  </form>
    
</article>
