<article class="portfolio__projects">
  <h2 title="Les projets réalisés par Guillaume LANG">Projets réalisés</h2>
  <ul>
  {% for project in projects %}
    <li>
      <article class="project">
        <h2 class="lead">
          <a href="{{ project.mainLink.uri }}" title="{{ project.mainLink.title }}" target="_blank" class="underline">{{ project.name }}</a>
        </h2>
        <p class="project__description">
          {{ project.content }}
        </p>
        <figure class="project__img">
          <img src="{{ project.picture.uri }}" alt="{{ project.picture.title }}">
        </figure>
        <footer class="project__link">
          <ul>
            <li>
              <a href="{{ project.mainLink.uri }}" title="{{ project.mainLink.title }}" target="_blank" class="underline">
                <i class="fa {{ project.mainLink.iconClass }}" aria-hidden="true"></i>
                {{ project.mainLink.label }}
              </a>
            </li>
            <li>
              <a href="{{ project.sourceLink.uri }}" title="{{ project.sourceLink.title }}" target="_blank" class="underline">
                <i class="fa {{ project.sourceLink.iconClass }}" aria-hidden="true"></i>
                {{ project.sourceLink.label }}
              </a>
            </li>
          </ul>
        </footer>
      </article>
    </li>
  {% endfor %}
  </ul>
</article>
