{% extends "@admin/layout.twig" %}

{% block title "Administration des connaissances" %}

{% block content %}
  
  <h1>
    Administration des connaissances
  </h1>
  
  <section>
    <p>
      <a href="{{ path(routePrefix ~ '.create') }}">
        Bouton ajouter une connaissance
      </a>
    </p>
  </section>
  
  <table>
    <thead>
      <tr>
        <td>
          Titre
        </td>
        <td>
          Actions
        </td>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td>
          {{ item.name }}
        </td>
        <td>
          <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}">
            Éditer
          </a> | 
          <form action="{{ path(routePrefix ~ '.delete', {id: item.id}) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button>
              Supprimer
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    
  {{ paginate(items, routePrefix ~ '.index') }}

{% endblock %}
